<div class="nested-fields">
<<<<<<< HEAD
      <%= f.label "Friend's name" %>
      <%= f.text_field :friend_name %>
    	
      <%= link_to_remove_association "Delete", f %>
=======
  <div class="row">
    <div class="col-sm-2">
      <%#= f.label "Friend's name" %>
      <strong>Friend's Name</strong>
    </div>

    <div class="col-sm-1">
      <%= f.text_field :friend_name %>
    </div>

    <div class="col-sm-1">
    	<%= link_to_remove_association "Delete", f %>
    </div>
  </div>
>>>>>>> 331242718c438b51cec1b58cd3c6a38b796f5cdf
</div>
