<%= form_with model: @user, url: '/users', method: :post, local: true do |f| %>

  <!--User name-->
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!-- Adding friends -->
  <div id="friends">
    <%= f.fields_for :friends do |t| %>
      <%= render "friend_fields", :f => t %>
    <% end %>
    <%= link_to_add_association "add friend", f, :friends %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
